.active {
  background-color: $color-active;
  position: relative;
}

.player-name::after {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 6rem;
  top: 1.5rem !important;
  right: -3rem;
  z-index: 1;
  background-color: $color-primary;
  position: absolute;
  display: none;

  @include respond(lg) {
    top: 2.8rem !important;
  }
}

.active .player-name::after {
  display: block;
}

.player-wrapper {
  padding: 10rem 0 5rem;

  @include respond(md) {
    padding: 5rem 0 8rem;
    height: 80vh;
  }

  @include respond(lg) {
    padding: 5rem 0 8rem;
    height: 90vh;
  }

}



.player-box {
  @include respond(lg) {
    padding: 6rem 0 14rem;

  }
}

.player-name {
  font-size: 2.3rem;
  position: relative;
  text-transform: uppercase;
  @include respond(lg) {
    font-size: 4rem;
  }
}

.player-score {
  color: $color-primary;
  font-size: 3rem;
  font-weight: 100;
  @include respond(lg) {
    font-size: 8rem;
  }
}

.player-current-box {
  background-color: $color-primary;
  display: inline-block;
  padding: 1rem 1.2rem;
  margin-top: 1rem;

  @include respond(md) {
    display: block;
  }
}

.player-current-label,
.player-current-score {
  color: $color-white;
}

.player-current-label {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.player-current-score {
  font-size: 1.4rem;

  @include respond(lg) {
    font-size: 3rem;
  }
}

.new-game,
.btn-roll,
.btn-hold{
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;

  @include respond(lg) {
    font-size: 2.5rem;
  }

}

.btn-roll {
  @include respond(lg) {
    margin-top: 5rem !important;
  }
}


.new-game {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.dice-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    margin-bottom: 1rem;
    width: 6rem;
    display: block;
    margin: 0 auto;
    
    @include respond(md) {
      width: 8rem;
    }

    @include respond(lg) {
      width: 11rem;
    }
  }
}

i {
  padding-right: 1rem;
  color: $color-primary;
}

input {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  margin: 1rem auto;

}

input:focus {
  outline: none;
}
